<!DOCTYPE html>  
<html lang="es"> 
{% load static %} {% load widget_tweaks %}
<head>
    <meta charset="UTF-8">
    <meta name="autor" content="Nelia"/>
    <meta 
        name="Descripción"
        content="Este proyecto está diseñado para registrar las visitas de los usuarios de dependencias de gobierno adheridos al programa MAS"
    />
    <meta name="keywords" content="HTML, CSS, Python, Django">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
	<title>Sistema de captura de visita</title> 
   
    <link rel="stylesheet" type="text/css" href="{% static '/registros/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/registros/css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    
</head>
 
<body>

    <header>
        <div class="section-header">
          <div align="right" ><img src="{% static '/registros/img/Guanajuato_LOGO.png' %}" alt="SEG"></div>
        </div>
        <div class="section-branding">
            <div class="row">
                <div class="col-md-12">
                    <h4> Sistema Captura de Visitas</h4>
                </div>
            </div>
        </div>
        <div class="section-bar">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">Registros de captura de visitas</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'agreementList' %}">Visita</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="">Capturista</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href=""><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
                        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
                        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="">CT</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="">Tramite</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
          
        </div>
    </header>

    {% block content %}

    {% endblock content %}

    <footer>
        <div class="container">
          <div class="row">
            <div align="center" ><img src="{% static '/registros/img/princi.png' %}" alt="SEG"></div>
            <div class="row">
                <div align="left">
                    <p><strong>Gobierno del Estado de Guanajuato</strong><br>
                    SEG - USAE Tarimoro -  Zaragoza #74 Centro Tarimoro Gto <br>
                    <strong>Teléfono: 466 66 4 09 41 y 466 66 4 02 35</strong></p></div>
                </div>
            </div>
        </div>
    </footer>

    
    

    

</body>
</html>